<a href="https://colab.research.google.com/github/alfrizzle/NLP-Projects/blob/master/KoBERT_nsmc_modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup Environment

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pwd

/content

In [3]:
import os

os.chdir('/content/drive/MyDrive/KoBERT-nsmc')

In [4]:
# !git clone https://github.com/monologg/KoBERT-nsmc.git

In [5]:
!ls

data		   main.py	requirements.txt	utils.py
data_loader.py	   predict.py	sample_pred_in.txt
data_loader_v2.py  __pycache__	tokenization_kobert.py
LICENSE		   README.md	trainer.py

In [6]:
!pip install torch==1.4.0
!pip install transformers==2.10.0

Requirement already satisfied: torch==1.4.0 in /usr/local/lib/python3.7/dist-packages (1.4.0)
Requirement already satisfied: transformers==2.10.0 in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (4.62.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (3.4.0)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (2019.12.20)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (0.1.96)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (1.19.5)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (0.0.46)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (2.23.0)
Requirement already satisfied: tokenizers==0.7.0 in /usr/local/lib/python3.7/dist-packages (from transformers==2.10.0) (0.7.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==2.10.0) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==2.10.0) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==2.10.0) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers==2.10.0) (1.24.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==2.10.0) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==2.10.0) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers==2.10.0) (1.15.0)

In [7]:
import pandas as pd
import numpy as np

# Data Prep

In [ ]:
# os.chdir('/content/drive/MyDrive/KoBERT-nsmc/data/')

In [11]:
fake_df = pd.read_csv('./data/misc/Fake.csv')
true_df = pd.read_csv('./data/misc/True.csv')

fake_df.head()

                                               title  ...               date
0   Donald Trump Sends Out Embarrassing New Year’...  ...  December 31, 2017
1   Drunk Bragging Trump Staffer Started Russian ...  ...  December 31, 2017
2   Sheriff David Clarke Becomes An Internet Joke...  ...  December 30, 2017
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...  December 29, 2017
4   Pope Francis Just Called Out Donald Trump Dur...  ...  December 25, 2017

[5 rows x 4 columns]

In [12]:
fake_list = fake_df['text']
true_list = true_df['text']

fake_ds = pd.DataFrame({'text': fake_list, 'fake': np.zeros(len(fake_list), dtype='int64')}) # 0 == fake news 
true_ds = pd.DataFrame({'text': true_list, 'fake': np.ones(len(true_list), dtype='int64')}) # 1 == true news

raw_ds = fake_ds.append(true_ds, ignore_index=True)
# raw_ds = raw_ds.sample(frac=1).reset_index(drop=True)
raw_ds

                                                    text  fake
0      Donald Trump just couldn t wish all Americans ...     0
1      House Intelligence Committee Chairman Devin Nu...     0
2      On Friday, it was revealed that former Milwauk...     0
3      On Christmas day, Donald Trump announced that ...     0
4      Pope Francis used his annual Christmas Day mes...     0
...                                                  ...   ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...     1
44894  LONDON (Reuters) - LexisNexis, a provider of l...     1
44895  MINSK (Reuters) - In the shadow of disused Sov...     1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...     1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...     1

[44898 rows x 2 columns]

In [13]:
df = raw_ds.rename(columns={'text': 'text', 'fake': 'label'})
df.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [14]:
df.tail()

                                                    text  label
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
44894  LONDON (Reuters) - LexisNexis, a provider of l...      1
44895  MINSK (Reuters) - In the shadow of disused Sov...      1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...      1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

In [22]:
df['docid'] = range(1, len(df) + 1)
df.head()

   docid                                               text  label
0      1  Donald Trump just couldn t wish all Americans ...      0
1      2  House Intelligence Committee Chairman Devin Nu...      0
2      3  On Friday, it was revealed that former Milwauk...      0
3      4  On Christmas day, Donald Trump announced that ...      0
4      5  Pope Francis used his annual Christmas Day mes...      0

In [23]:
cols = ['docid', 'text', 'label']

In [24]:
df = df[cols]
df.head()

   docid                                               text  label
0      1  Donald Trump just couldn t wish all Americans ...      0
1      2  House Intelligence Committee Chairman Devin Nu...      0
2      3  On Friday, it was revealed that former Milwauk...      0
3      4  On Christmas day, Donald Trump announced that ...      0
4      5  Pope Francis used his annual Christmas Day mes...      0

In [55]:
df = pd.read_csv('/content/drive/MyDrive/KoBERT-nsmc/data/fake_news/dataset_clean.csv')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35430 entries, 0 to 35429
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   docid   35430 non-null  object
 1   text    35430 non-null  object
 2   label   35415 non-null  object
dtypes: object(3)
memory usage: 830.5+ KB

In [57]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, test_size=0.2)

In [58]:
print(train.shape)
print(test.shape)

(28344, 3)
(7086, 3)

In [59]:
train.to_csv('./data/fake_news/fn_train.csv', index = False)
test.to_csv('./data/fake_news/fn_test.csv', index = False)

In [29]:
# train = pd.read_csv('./data/fake_news/train.csv')
# test = pd.read_csv('./data/fake_news/test.csv')

In [37]:
import csv

full_file = '/content/drive/MyDrive/KoBERT-nsmc/data/misc/fake_news.csv'
train_file = './data/fake_news/fn_train.csv'
test_file = './data/fake_news/fn_test.csv'

# with open(test_file, 'r') as inp, open('./data/fake_news/fn_test.txt', 'w') as out:
#     for line in inp:
#         line = line.replace(',', '\t')
#         out.write(line)

csv.writer(open('./data/fake_news/fn_train.txt', 'w+'), delimiter='\t').writerows(csv.reader(open(train_file)))

# Test Read Dataset Function from data_loader.py

In [38]:
def read_file(input_file, quotechar=None):
    """Reads a tab separated value file."""
    with open(input_file, "r", encoding="utf-8") as f:
        lines = []
        for line in f:
            lines.append(line.strip())
        return lines

In [ ]:
read_file('/content/drive/MyDrive/KoBERT-nsmc/data/fake_news/fn_train_cut.csv')

In [72]:
df_small = df_train[:30000]
df_small.to_csv('./data/fake_news/fn_small.csv', index=False)

# Model Training

In [51]:
!pwd

/content/drive/MyDrive/KoBERT-nsmc

In [79]:
!python main.py --data_dir ./data/ --train_file ratings_train.txt --test_file ratings_test.txt --model_type bert --max_seq_len 128 --do_train --do_eval --num_train_epochs 2

12/17/2021 07:22:52 - INFO - transformers.tokenization_utils -   loading file https://s3.amazonaws.com/models.huggingface.co/bert/bert-base-multilingual-cased-vocab.txt from cache at /root/.cache/torch/transformers/96435fa287fbf7e469185f1062386e05a075cadbf6838b74da22bf64b080bc32.99bcd55fc66f4f3360bc49ba472b940b8dcf223ea6a345deb969d607ca900729
12/17/2021 07:22:53 - INFO - data_loader -   Creating features from dataset file at ./data/
12/17/2021 07:22:53 - INFO - data_loader -   LOOKING AT ./data/ratings_train.txt
12/17/2021 07:22:53 - INFO - data_loader -   ['9976970', '아 더빙.. 진짜 짜증나네요 목소리', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9856453', '정말 최고의 명작 성인이 되고 본 이집트의 왕자는 또 다른 감동 그자체네요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10252730', '최최최최악악악악 !!!!', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8291487', '완전 재미있음 추천 ㅠㅠ♥ 생텀 화이팅 !!!♥', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2303393', '정말 재밌는 영화!! ost 또한 좋다~!!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9135788', '별점 매겨달라하는것도 뻔뻔하게 느껴지는 쓰레기 드라마', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['84194', '별로던데..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7268642', 'ㅋㅋㅋㅋㅋㅋ 씨네프에서 보다가 실소를 내뿜은 영홬ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ 개그물 보는줄 거기다 2008년에 개봉 했다는게 더 충격........', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6059337', '원작인영화 스타워즈는 정말 최고엿지만 이 애니메이션영화는 매우 실망했다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9555936', '자수하면 9년 정도 살 텐데 그럼 둘의 나이는 20대 후반이겠고 새출발 하기에 충분한 나이인데...아이는 당연히 낙태시키고', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9246662', '최고의 2d영화가 아닌가싶으다....!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7500318', '감상평쓰긴처음이다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7237260', '와...진짜 너무 재미없어서 넘겨가면서봤다.. 진짜 너무 재미없음 보지마요 다들', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8048524', '주식공부하면서 영화 작전을 보면 누구나 다 한번쯤은 그렇게 해 보구 싶은 생각이 많이 들거당. 왜 그런 행동을 하는지 정보의 부족으로 인한 심리상태 표현 좋았다. 세상사는게 그렇지 뭐.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10036236', '정말 재밌어요! 눙물 날거같애', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['1737741', '어쨌든 비디오 대여 1순위였다..', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['920285', '이은주... 당신을 생각하며 난 제2의 인생을 살고 있습니다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10014571', '아이유에겐 최고다이순신 이후로 리즈드라마네요 정말이뻐요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['1507400', 'ㅋㅋ 난 진짜 웃으면서 봤는데;;', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9107713', '보고 또 보고 싶은 영화죠。아무래도 하지원의 여전사 이미지를 입히 전의 모습이라 더욱 그리운 영화중의 하나인지도 모르겠습니다。권상우 역시 절정을 달할 때였으니까요 허허', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['5889538', '4', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7202296', '잔잔하지만 나름 재미있음', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['6131592', '개같이 재미없는갑네 ㅎㅎㅎㅎㅎ감독 찐찌버거임??', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6603772', '여운이 아직도....', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9369899', '홍콩영화에도 이런영화도 있엇구나 ㅎㅎ 액션영화만 있을줄 알았더니 ㅎ 암튼 마지막에 좀 슬펐음..', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10004238', '뭔 복싱선수가 동네 양아치한테 줘 터지고, 칼침 맞고.... 말도 안되는 영화인 듯..여배우의 노출이 없는 것도 한심함...', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6583588', '낭만파 정통 무협사극의 부활을 알린 신호탄!! 정말 멋진 영화입니다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8014654', '임창정이 말아먹은 영화..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9155953', '그 무엇보다 나는 우릴 선택하겠어.현재의 사랑, 행복이 얼마나 중요한가 떠올릴 수 있게 하는 대사..좋은 영화 잘 봤습니다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8879454', '비오는 날 밤에.어긋난 사랑과스릴과 짜릿함,미스테리 수사물이 끌린다면 추천.볼만합니다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7515277', '영원히 아름답고도, 아름다운,', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9882940', '최고의 가족영화..,,', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['3460131', '장난하나?', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['1644183', '마징가와 UFO의 결합을 그린 작품', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['4952247', '박혁권씨 연기 잘하네요. 김예리씨 매력있어요. 정지연씨 약역.. 실감나네요 ^^', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2238039', '역시 개변태의 나라 일본. 자신들의 성적환상을 영상물로 만드는데 탁월한 능력.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['5718869', '요한슨 화보영화다 라고 보면 된다. 스토리 영화라고 생각하면 재미없다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['6281512', 'too slow ...', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['5804368', '극장가서 돈주고볼 영화는 절대아니구..용이? 앞으로 영화안만드시는게 좋을듯..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['4505671', '무술하는사람을 존경합시다!! ㅋㅋ', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10251032', '어린 아이의 마음으로 가슴뛰는 모험을 즐겨보세요!!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8575179', '최근에 대상해를 너무 잼있게 봐서 다시 복귀하나 싶었더니...역시나 넌 안돼는 돼지 쉑이였어 20편찍어서 1편성공하니 그게 명감독이냐??', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7703632', '짱 재밋다 진심', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8358415', '가슴 훈훈한 영화,전쟁반대! 제국주의 전쟁에 반대한 순사쿠가 오싱에게 많은 기회를 주었습니다. 소설이지만 많은 의미가 내포', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9782578', '도데체 언제까지 이게 영화로 나올까 궁금하다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6988139', '티비에서 하길래 봤는데 OO 재밌자나ㅠㅠㅠ 난 진짜 평점땜에 놓친 영화 개 많은듯... 평점 구려서 안 보다가 나중에 티비나 다운받아 보면 개재미', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3448402', '잘 만들었다. 약간의 긴장감이 떨어지긴 하지만 그래도 볼만하다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10190448', 'IMF해킹씬이랑 떼제베 헬기씬 이 두 장면으로 이미 클래식 인증!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3118733', '여주인공 빼곤', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8669588', '영상이 정말 예쁘다유지태 짱', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8867980', '재미가 없으면 길게만들지도 마... 샬리즈테론 내내버럭하고 틴에이저퀸 스튜어트는 앞니만보이고 몰입감도 없고 토르는 내내 지저분해서 정도 안가는데 김보성느낌나고 애매한 캐릭터 윌리엄에 무의미한 전투씬들.. 억지로 끼워넣은 난장이들. 대체 뭘위해서?', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['10259269', '일부러 알려주는 건가 싶을 정도로 앞의 내용이 뻔히 다 보이는 전개 내용은 식상 두 여자배우 예쁜 맛에 보는 영화인듯 남자주인공은 얼굴이 작음', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6608304', 'ㅋㅋㅋㅋ 진짜 재미없게 봄///', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8011058', '3부는 1, 2부에 비해 약간 늘어지는 느낌이 있었지만, 북부의 왕 롭 스타크와 어미의 죽음 같은 예상외 반전이 마음에 든다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10105096', '역시 진짜 재밌네 ㅋㅋㅋ', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8738305', '큐브 1편의 명성에 먹칠한 프리퀄', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9946874', '우리 어디로 가나요 .. 글쎄요 어디로 갈까요 ..다시봐도 잔잔한 영화 류승수님 출연료가 무척 궁금하다 .^^배용준 슴가가 너무 큼 예진이의 연기가 난 참 좋다 ...♡', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7960093', '휴식이란 정의를 알려준 영화', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3050158', '이 영화 정말 소재를 잘 못 살린 영화라고 생각합니다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8680919', '3화보고있는데 넘 지루 .. 나중에 재밋하는데 함 믿고봄니다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8116241', '4.44 동참하겠습니다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9650237', '아 반전영화라길래 뒤에 반전있나 유심히 봤는데 그냥 정신분열증이 반전이엇음? ㅡㅡ 좀 실망하고봄 내용은 좋은데', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['4714867', '뭐이딴게,,,,', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['2514097', 'ㅋㅋㅋ 와나 참여인원 나까지 2명 ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3729710', '내용은 기억안나고 애들이 너무 시끄러워서 짜증났음', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8775600', '너무 행복하게 봤네용 감사드려요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3768667', '성인이 봐도 좋으리라 생각했는데 완전 착각이네요', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['1542068', '볼만. 좋은 스토리텔링. 기록영화 같아서 긴장감 부족', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['1246263', '화려한 액션!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8174206', '아주 만족스러움 ㅋㅋ,,', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['6693256', '캐스팅만 훌륭함', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8421731', '우우우둬탸찰니이미기시', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7817160', '시간아까움킬링타임도 안 될 정도의 지루함과존재하지 않는 소름쓰레기 단편', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['3582077', '한글 40자 / 영문 80자', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9111419', '자식은 내가 가장 사랑하는 사람과의 사랑의 결실이라 무엇보다 소중하다. 스토리야 보고나면 진부하지만, 연출과 연기가 좋아서 지루함은 없었다. 마지막 형사대사가 촌스럽더래도 아버지라했음 좋았을것같다.평점으론 8점 후반에서 9점초반 정도가적당하다 싶다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['623571', '앤드류 로이드 웨버에게 박수!!!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8921665', '학교에서 봤는데 재미있고 가벼워 보였지만 교훈과 감동이 많았다. 몇 안되는 한국 최고 힐링 영화!!!!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8744686', '클린트 영화는 대부분 지루 전엔 무능하여 그런가 보다 했는데 요새 보면 그냥 스타일인 듯 지루한 스타일', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['847742', '할 말 없게 만드네... 이건 국가적 망신이다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['3480971', '제법 집중해서 볼수 있는 스릴러', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3627172', '판도라의 상자를 열었다...........', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8212188', '가히 볼 만한 영화 이건.. 아만다를 좋아하기에 처음 영화를 택했다. 초반엔 에이 뭐야? 식상한 B급 영화같애.. 라는 생각을 했지만 사실 성산업 그 이후의 실제를 보여주는 우리에게 보이는 게 다가 아니라고 소리치고 있는 것 같은 영화이다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['5723278', '오랜만에 건진 대어. 이런 명작을 오늘에야 보게 된 것이 부끄럽네요. 강추!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10246877', '나루토나루토나수토나루도타루놑', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['284523', '멋있음이 아니라 뻔뻔한 cool이다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6396146', '이거 보는섀끼 존나 후회함 ㅋㅋㅋㅋ', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9317300', '이런영화가 좋다 꾸밈없는 순수한 작품성을 갖추고있는 보는중에 영화아니라 살제 중국 시골사람들 다큐로 보일정도로 리얼하고 연기도 완벽하다. 좋은영화', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9722461', '공간적배경을 관속,단하나로 제약시켰음에도 충분히 영화에 몰입이된다. 구출과정에서 주인공의 답답해 속터지다못해 폭발해 버릴것같은 감정에 완전히 이입이된다.사회의 냉혹한 모습도 제대로 비꼬는 영화', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9595250', '내인생 최고의 영화이다 지금도 가금 본다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['1415844', '지잘난 맛에 심취한 감독 짱난다..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7984604', '두번봐도 세번봐도 몇번을봐도 감동적이다... 내 생에 최고의영화', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2084278', '나름 잘 짜여진 구성. 익살스런 막가파식 뚝심전개.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['5718582', '인간적이면서 감동입니다!!!!~정말 재밌어요!!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['3998275', '처음부터 끝까지 재미없고 다시 보고 싶지 않은 영화 - 17세 한 청소년의 관점 -', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7980361', 'ㅋㅋ', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7432499', '우연히 케이블에서봤는데 마지막에 소박한반전... 가슴뭉클하다.. 밝고 씩씩한 스탠리..', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['6085933', '역시 환상적이고 재밌다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9080486', '간만에 쓰래기영화를 봤다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8826259', '보고 정말 재밌다...', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7907699', 'ㅇㅇ', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['4444883', '할말이 없다.. 무엇을 말하려고 하는지 도저히 알수가 없네요', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['4897464', '짠한감동을기대했지만,영화는 몰입할수없고 지루하다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8587247', '디테일 디테일 디테일 그리고 디테일', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7251738', '유치+성우개판', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8739864', "사건재연프로 는'그것이 알고싶다' 하나로 족하다.", '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9194552', '역시 원피스는 짱이지 ㅇㅋ', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10135191', '주인공 아이가 겪는 고통들을 보며 너무 마음이 아팠네요..이영화를 보며 매사 감사하는 삶을 살아야겠어요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8092115', '말이 필요없다...그냥 쵝오~~~', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['7774011', '배우빨로도 안먹힌 영화', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['10110161', '진실은 침몰하지않는다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['5718836', '1점은 됩니다', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9588241', '글쎄..? 캐스팅이 맘에 안든다. 차라리 류승범과 조진웅을 반대로 캐스팅했으면 어땠을까 하는..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['10237835', '한국영화계는 인정도 많아.. 임상수가 밥 먹고 산다니..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['62588', '동원오빠!>_신고', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['919926', '정말 멋진 액션 영화입니다!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9703323', '이거 안보면 액션을 안본거나 다름없음 탄탄하고 안정적인 전개', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9826814', '과대평가된 흔한 다양성 영화 중 하나.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['10018676', '핵노잼.지루해죽는줄', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['1723874', '솔직히 존나 재밋엇다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2966033', '불륜을 사랑이란 이름으로 그럴싸하게 포장한 내생애 최악의영화', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['8116279', '차라리 일본영화틱 하게 가지 그랬냐.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9717116', '.. 딱이 할말이 없다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9201733', "누구나 각자의 상처가 있고, 정신병은 아무나 갖게 될 수 있다. 치유의 첫 번째 단계는, 같은 높이에서 감싸안고 공감해주는 상대의 마음이 아닐까. 하지만 아직은 이 사회에 '정신병'에 대한 거부감이 너무 짙게 스며있다.이제는 함께 성숙해질 때다.", '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2431707', '그나마 양동근때문에...-_- 한가인의 다소 평면적인 연기... 부실한 스토리', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6702145', '정말 짜증나고 돈아까운 영화. 열받는다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['4621410', '파리 정말 어두침침한 도시구나 싶음', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9290775', '돈이 남아도나봐. . ;; 진짜이건아님', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['7169914', '진짜 남자들 상하운동 욕구만 자극시키는 에로물', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6571952', '재미 더럽게없다..1점준것중에 한국영화,애니는 9~10점 주는 M창있네', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9650036', '실화라고 마케팅하고 구라판명 나니까 슬그머니 얼버무리고... 그냥 연출로 보면 머리 잘쓴건데 괜시리 거짓 마켓팅해서 오히려 마이너스... 카메라 워크가 불편해서 멀미난다.', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['5537992', '영화로 봐도 될지 모르겠네요', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['517418', '조낸 훈훈훈한 애니', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9430707', '구혜선이 달리보이는...', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9122928', '완전액션이 죽이네요 짱짱해요 런닝맨2도나왔으면좋겠어요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9207052', '도대체 무슨 내용인지도 모르겠고.. 보면서 참 지루하다고느꼈습니다.. 무튼 재미없어서 별점1점 드림..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['9135030', 'ㅋㅋ평점보소.. 사극애로물에 항상 느끼는거지만 tv방자전좀 참고해라.. 제대로 나오는게 없네 항상..', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['2977956', '인정하지 않을수 없는 일본 애니의 힘', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['2443273', '아.이런영화좋다.머리맴도는마지막대화', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9834271', '노잼...앤헤서웨이가 정말 이쁘다는거빼곤 기억에 남지 않음', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['6240661', '닥치고 장국영 하나로만의로도 이영화는 나에게 성공했다', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9664848', '진짜 꺼이꺼이 울었다 눈물이 계속 나옴', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['4356827', '숨막히는 영화이다.', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9546930', '나또한 돌아가고 싶다..', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['8216707', '1편이 젤 재밌고 강철중이 젤 멋있고 이성재가 젤 악랄하다!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9216408', '상당히 재미있고 짜임새 있어욤 ㅎㅎ 명작인듯요', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['9317341', "정치의 현실적인 모습을 담은 영화, 열정으로 채워졌던 스티븐이 냉소적인 정치를 겪은 후 변하는 모습을 소름끼치게 담았다. '진짜' 서스펜스 스릴러이며 뛰어난 배우들의 연기를 보는 재미가 있었다. 남자는 여자 관계를 조심해야 하는 법. 정치의 이면.", '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10122522', '다시바도 감동감동~~~', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['6929625', '아멘!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   ['10069564', '왜? 무료일까?? 궁금하면???', '0']
12/17/2021 07:22:53 - INFO - data_loader -   ['5038303', '재밌었어요!', '1']
12/17/2021 07:22:53 - INFO - data_loader -   Writing example 0 of 150000
12/17/2021 07:22:53 - INFO - data_loader -   *** Example ***
12/17/2021 07:22:53 - INFO - data_loader -   guid: train-0
12/17/2021 07:22:53 - INFO - data_loader -   tokens: [CLS] 아 더 ##빙 . . 진 ##짜 짜 ##증 ##나 ##네 ##요 목 ##소 ##리 [SEP]
12/17/2021 07:22:53 - INFO - data_loader -   input_ids: 101 9519 9074 119005 119 119 9708 119235 9715 119230 16439 77884 48549 9284 22333 12692 102 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   attention_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   token_type_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   label: 0 (id = 0)
12/17/2021 07:22:53 - INFO - data_loader -   *** Example ***
12/17/2021 07:22:53 - INFO - data_loader -   guid: train-1
12/17/2021 07:22:53 - INFO - data_loader -   tokens: [CLS] [UNK] . . . 포 ##스터 ##보 ##고 초 ##딩 ##영 ##화 ##줄 . . . . 오 ##버 ##연 ##기 ##조 ##차 가 ##볍 ##지 않 ##구 ##나 [SEP]
12/17/2021 07:22:53 - INFO - data_loader -   input_ids: 101 100 119 119 119 9928 58823 30005 11664 9757 118823 30858 18227 119219 119 119 119 119 9580 41605 25486 12310 20626 23466 8843 118986 12508 9523 17196 16439 102 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   attention_mask: 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   token_type_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   label: 1 (id = 1)
12/17/2021 07:22:53 - INFO - data_loader -   *** Example ***
12/17/2021 07:22:53 - INFO - data_loader -   guid: train-2
12/17/2021 07:22:53 - INFO - data_loader -   tokens: [CLS] [UNK] [SEP]
12/17/2021 07:22:53 - INFO - data_loader -   input_ids: 101 100 102 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   attention_mask: 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   token_type_ids: 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
12/17/2021 07:22:53 - INFO - data_loader -   label: 0 (id = 0)
12/17/2021 07:22:53 - INFO - data_loader -   *** Example ***
12/17/2021 07:22:53 - INFO - data_loader -   guid: train-3
12/17/2021 07:22:53 - INFO - data_loader -   tokens: [CLS] 교 ##도 ##소 이야기 ##구 ##먼 . . 솔 ##직 ##히 재 ##미 ##는 없다 . . 평 ##점 조 ##정 [SEP]
12/17/2021 07:22:53 - INFO - data_loader -   input_ids: 101 8907 12092 22333 110148 17196 118922 119 119 9451 33077 18108 9659 22458 11018 39218 119 119 9926 34907 9678 16605 102 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [ ]:
!python main.py --data_dir ./data/fake_news --train_file dataset_clean.csv --test_file fn_test.csv --model_type bert --max_seq_len 128 --do_train --do_eval --num_train_epochs 2